.container {
    color: white;
    width: 40%;
    
    padding: 100px;
    margin: 50px 30px 50px 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(271.19deg,#307DF6 0%,#14BBBF 100%),#343434;
    box-shadow: 0 16px 32px rgb(48 127 245 / 16%);
    border-radius: 24px;
}

.title {
    font-weight: 700;
    font-size: 54px;

    text-align: center;
    margin-bottom: 60px;
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;   
    padding: 15px 30px;

    background: rgba(255,255,255,.08);
    transition: all ease 0.5s;
}

.link:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.219);
}

.text{
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

span {
    margin-right: 20px;
}